{% extends "layout.html.twig" %}

{% block title "404 - page not found" %}

{% block content %}
    <h1>Ooops, page not found!</h1>
    <p>Sorry, the requested resource does not exist.</p>
{% endblock %}
