{% extends "layout.html.twig" %}

{% block title "500 - internal server error" %}

{% block content %}
    <h1>Ooops, internal server error!</h1>
    <p>Sorry, the requested resource resource has some bugs.</p>
{% endblock %}
