{% extends "layout.html.twig" %}

{% block meta -%}
    I'm a Senior Symfony Developer and a SensioLabs Certified Symfony Developer (Expert), freelancer, living in Paris (FR).
    I'm working on Symfony 2+ projects since 2011 for many companies, like French Unicorns (BlaBlaCar, Dayuse), e-commerce (Maisons du Monde, Auchan, Doctipharma), press (Le Figaro, L'Equipe), etc.
{%- endblock %}

{% block content %}

    <section>
        <h1>Julien DIDIER, Senior Symfony Developer / Symfony Coach (freelance)</h1>

        <p>
            I'm a Senior Symfony Developer and a SensioLabs Certified Symfony Developer (Expert), freelancer, living in Paris (FR).
            <br>I'm working on Symfony 2+ projects since 2011 for many companies, like French Unicorns, e-commerce, press, etc.
            <br>May my experience be valuable for your company? If you think it, let's talk about.
        </p>
    </section>

    <section>
        <h2>Skills</h2>

        <section>
            <h3>Symfony Expert Developer</h3>

            <p>
                In 2011, due to my venue at SensioLabs, I had the chance to work with the Symfony2 framework before it was released. Since that day, Symfony is my leitmotiv.
                <br>In 2015, I was graduated with the SensioLabs Certified Symfony Developer, as an Expert.
            </p>

            <p>
                I'm able to develop some specific parts of an application, designed by a feature.
                <br>I can work with "extreme", Kanban, Agile or SCRUM software development methologies.
            </p>
        </section>

        <section>
            <h3>Symfony Coach</h3>

            <p>As a Symfony Coach, my job is to improve developer skills with Symfony:</p>

            <ul>
                <li>Mentoring a developer team</li>
                <li>Bring best practices</li>
                <li>Upgrade developer skills for a better future</li>
                <li>Check code (pull requests)</li>
            </ul>

            <p>I had to coach some project teams. I attended all the SCRUM meetings. When a developer takes a story which need some Symfony skills, I coach him. We talk about the parts of the Symfony framework that will help him to code. After explaining what we will do, the developer starts coding with me, to be sure everything is ok and to answer his queries.</p>
        </section>

        <section>
            <h3>Technical Architect</h3>

            <p>As a Technical Architect, my job is to find the best technical solutions to answer functional purposes. The process could follows these steps:</p>

            <ul>
                <li>Understanding the need and its context</li>
                <li>Leading grooming meetings, with the developer team</li>
                <li>Thinking about a reliable, maintainable and evolutive solution</li>
                <li>Developing the core and share it to the team</li>
            </ul>

            <p>I was called to recast a customer space. My job was to think about a SOA implementation of the data (user API, newsletter API, etc) powered by REST APIs. I decided to use the OAuth2 framework for authentication (access tokens and refresh tokens) and authorizations (scopes). I developed and delivered the first implementation of the OAuth2 server. To instantiate quickly new APIs, the team used a home made and reusable APIBundle I developed for another project, which allows to configure new endpoints without any line of code.</p>
        </section>

        <section>
            <h3>Symfony Consultant</h3>

            <p>As a Symfony Consultant, I am able to:</p>

            <ul>
                <li>Answer specific needs</li>
                <li>Review code</li>
                <li>Analyze technical debts, and write audit reports</li>
            </ul>

            <p>At Maisons du Monde, two days every two weeks, I worked with the lead developers, to help them to take the best choices for the website. To help them, I wrote some Proof Of Concepts, like an example of soft migration from symfony 1.4 to Symfony2, or a OAuth2 implementation.</p>
        </section>
    </section>

    <section>
        <h2>References</h2>

        <ul>
            <li>SensioLabs Certified Symfony Developer (Expert)</li>
            <li>Dayuse</li>
            <li>Le Figaro</li>
            <li>Maisons du Monde</li>
            <li>Agence DnD</li>
            <li>SensioLabs</li>
            <li>Auchan E-Commerce France</li>
            <li>Centre Hospitalier Charles PERRENS</li>
            <li>BourseDirect</li>
            <li>Expertissim</li>
            <li>Lagardère - Doctissimo</li>
            <li>BlaBlaCar</li>
            <li>ETS Globals</li>
        </ul>
    </section>

    <section>
        <h2>Personal projects</h2>

        <dl>
            <dt>Home automation</dt>
            <dd>With a set of Raspberry Pis, I'm automating my home with internal speech recognition and IoT convergence (Philips Hue, Nest Thermostat).</dd>
            <dt>biclo.fr</dt>
            <dd>A website and an Android app for bike sharing users (Paris, Luxembourg, Lyon, Bordeaux, London, Toyama and more).</dd>
        </dl>
    </section>

    <section>
        <h2>Blog posts</h2>

        <ul>
            {% for post in posts|reverse %}
                <li><a href="{{ path("blog_post", {slug: post.slug}) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Books I've read</h2>

        <ul>
            <li><a href="https://www.amazon.fr/Hackers-Steven-Levy/dp/0141000511/">Hackers: Heroes of the Computer Revolution, Steven Levy</a></li>
            <li><a href="https://www.amazon.fr/Culture-en-clandestins-LUX/dp/2754103414/">La Culture en clandestins : L'UX, Lazar Kunstmann</a></li>
            <li><a href="https://www.amazon.fr/Zero-One-Notes-Start-Future/dp/0753555204/">Zero to One: Notes on Start Ups, or How to Build the Future, Blake Masters</a></li>
            <li><a href="https://www.amazon.fr/Lean-Startup-Innovation-Successful-Businesses/dp/0670921602/">The Lean Startup: How Constant Innovation Creates Radically Successful Businesses, Eric Ries</a></li>
            <li><a href="https://www.amazon.fr/Hipster-Business-Models-living-modern/dp/0692340726/">Hipster Business Models: How to make a living in the modern world, Priceonomics</a></li>
            <li><a href="https://www.amazon.fr/Rational-Optimist-How-Prosperity-Evolves/dp/0007267126/">Rational Optimist: How Prosperity Evolves, Matt Ridley</a></li>
            <li><a href="https://www.amazon.fr/Pragmatic-Programmer-Journeyman-Master/dp/020161622X/">The Pragmatic Programmer: From Journeyman to Master, Andrew Hunt, Davis Thomas</a></li>
        </ul>
    </section>

    <section>
        <h2>Follow me</h2>

        <a href="http://github.com/juliendidier">Github</a>
        <a href="http://twitter.com/juliendidier">Twitter</a>
        <a href="https://www.linkedin.com/in/juliendidier/">LinkedIn</a>
        <a href="http://connect.sensiolabs.com/profile/juliendidier">SensioLabs Connect</a>
        <a href="http://soundcloud.com/jdidier">SoundCloud</a>
    </section>
{% endblock %}
