<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Julien DIDIER, Symfony Expert (freelance)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <style>
            body {
                font-family: "Helvetica Neue", arial, sans-serif;
                margin: auto;
                width: 90%;
            }

            pre {
                background: rgb(240, 240, 240);
                overflow-y: auto;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
